html{
    background-color: rgb(255, 255, 255);
}
h1{
    color: rgb(32, 196, 193);
    text-underline-position:auto ;
}
.big{
    font-size: xx-large;
}
.red{
    color: crimson;
}
#unique{
    color:rgb(0, 0, 0)
}