html{
    background-color: rgb(71, 166, 198);
}
a{
    background-color: rgb(0, 0, 0);
    padding: 10px;
    color: rgb(211, 43, 226);
    margin: 5px; 
    border: 50px solidcolor(50, 50, 50);
    border-radius: 10px !important;
}
h1{
    color: rgb(196, 32, 133);
    text-underline-position:auto;
}
.big{
    font-size: xx-large;
}
.red{
    color: rgb(10, 96, 255);
}
#unique{
    color:rgb(0, 0, 0);
}
p{
    font-style: oblique;
    font-weight: 1000;
}
